# List
* Like Java List, ArrayList
* can store different data types.
* Its elements and size can be changed.

In [5]:
from typing import List
import numpy as np
import json

In [3]:
dp = [0] * 4
dp

[0, 0, 0, 0]

In [1]:
colors = ['red', 'blue', 'green']
print(f' color is: {colors}')

 color is: ['red', 'blue', 'green']

In [4]:
s = ' is good'
l1 = ['red' + s + '/?', 'blue', 'green']
l1

['red is good/?', 'blue', 'green']

In [2]:
print(colors[1])

blue

In [3]:
print(colors[-1])

green

In [4]:
print(colors[-2])

blue

In [6]:
# get index from value.
colors.index('blue')

1

In [17]:
colors.index('car')

ValueError: 'car' is not in list

In [4]:
l = [0]
l[-1]

0

In [36]:
# return the 1st and remove it from the list
colors.pop(0)

'red'

In [37]:
# if no index, pop the last val, like a stack.
colors.pop()

'green'

In [38]:
colors

['blue']

In [39]:
print(colors[4])

IndexError: list index out of range

In [8]:
# check empty?
def isSolid(l: []) -> bool:
    return True if l else False

print(isSolid([]))
print(isSolid([1,2]))
print(isSolid(None))

False
True
False

## all() & any()

In [10]:
all((True, False, True))

False

In [11]:
all([True, False, True])

False

In [14]:
all([abs(8-4) == 4, abs(-4) == 4, True])

True

In [12]:
any([True, False, True])

True

In [13]:
any([abs(8-4) == 4, abs(-4) == 4, True])

True

## 2 lists

In [61]:
l1,l2  = [4,1,2,3,5,6],[5,6]
l1 + l2

[4, 1, 2, 3, 5, 6, 5, 6]

In [23]:
l1 * l2

TypeError: can't multiply sequence by non-int of type 'list'

In [63]:
l1 & l2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [2]:
# or just return the 1st none None l1
# either or or and does content compare
l1,l2  = [4,1,2,3,5,6],None
l1 or l2

[4, 1, 2, 3, 5, 6]

In [3]:
l1 and l2

In [4]:
l1,l2  = [4,1,2,3,5,6],[5,6]
l1 or l2

[4, 1, 2, 3, 5, 6]

In [7]:
# and return the last un None list if both are not empty
l1,l2  = [4,1,2,3,5,6],[5,5,6]
l1 and l2

[5, 5, 6]

In [6]:
# & only works for set
l1 & l2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [5]:
# all items in l2 are in l1?
l1,l2  = [4,1,2,3,5,6],[5,6]
all(item in l1 for item in l2)

True

In [17]:
l1,l2  = [4,1,2,3,5,6],[5,6]
# in l2, but not in l1
diff = list(set(l2)-set(l1))
diff

[]

In [1]:
# diff:
l1,l2  = [4,1,2,3,5,6],[5,6]
# in l1, but not in l2
diff = list(set(l1)-set(l2))
diff

[1, 2, 3, 4]

In [2]:
dict_input, list_raw = {'entity_id': '131222462', 'auct_start_date': '1618733343', 'item_id': '363364413050'}, ['entity_id', 'auct_start_date', 'item_id', 'true_ip_first_seen']
diff = list(set(list_raw)-set(dict_input.keys()))
diff

['true_ip_first_seen']

In [4]:
diff = list(set(dict_input.keys())-set(list_raw))
diff

[]

## add to a list

### +: Must add a List
* only works with 1d array
* must + another list

In [1]:
# add to a 1d list
l = [1,2,3]
l += [5,6]
l

[1, 2, 3, 5, 6]

In [5]:
l += 7

TypeError: 'int' object is not iterable

In [2]:
# it returns the new list
l + [7]

[1, 2, 3, 5, 6, 7]

### extend(): Must add a List, just like +
* so far i see extend() is exactly the same as +

In [105]:
# https://www.geeksforgeeks.org/append-extend-python/

# extend(): Iterates over its argument and adding each element to the list and extending the list. 
# The length of the list increases by number of elements in it’s argument.

# can't just add str or int
l.extend(7)
l

TypeError: 'int' object is not iterable

In [79]:
l.extend((7,8))
l

[1, 2, 3, 5, 6, 7, 8]

In [80]:
l.extend([7,8])
l

[1, 2, 3, 5, 6, 7, 8, 7, 8]

In [25]:
# use out side [] to create list
[i for i in range(3)]

[0, 1, 2]

### append(): Either Single Val or a List
* work with both 1d and 2d array
* for val, add it to 1d array
* for list, add it as a list to form a 2d array

In [5]:
print([].append(3))

None

In [6]:
print([] + [3])

[3]

In [41]:
# append a val
# Append: Adds its argument as a single element to the end of a list. 
# The length of the list increases by one.
l.append(7)
l

[1, 2, 3, 5, 6, 7, 8, 7]

In [3]:
# it doesn't return anything
l.append(7)

In [22]:
# append a list to another list, creates a 2d list
l.append([7,8])
l

[1, 2, 3, 5, 6, [7, 8]]

### insert()

In [42]:
# shift the rest to the right
l.insert(0, 5)
l

[5, 1, 2, 3, 5, 6, 7, 8, 7]

### multiple with *

In [1]:
l = [1,2,3]
l * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## arrays

In [1]:
# create a 1d array
N = 5
arr = [0]*N
print(arr)

[0, 0, 0, 0, 0]

In [2]:
arr[2]=2
arr

[0, 0, 2, 0, 0]

In [3]:
dp = [0 for _ in range(4)]
dp

[0, 0, 0, 0]

In [4]:
arr[2] = 3
arr

[0, 0, 3, 0, 0]

# copy

In [22]:
# make a copy to avoid this.
lis1 = [ 1, 2, 3, 4 ]
lis2 = lis1

lis1.append(5)  
print ("list1: " + str(lis1))
print ("list2: " + str(lis2))

list1: [1, 2, 3, 4, 5]
list2: [1, 2, 3, 4, 5]

In [6]:
lis1 = [ 1, 2, 3, 4 ]
lis2 = lis1.copy()

lis1.append(5)  

print ("list1: " + str(lis1))
print ("list2: " + str(lis2))

list1: [1, 2, 3, 4, 5]
list2: [1, 2, 3, 4]

## loop through
https://treyhunner.com/2016/04/how-to-loop-with-indexes-in-python/

In [3]:
# while
colors = ["red", "green", "blue", "purple", "white"]
i = 0
while i < len(colors):
    print(colors[i])
    i += 1

red
green
blue
purple
white

In [4]:
_c = colors[1:-1]
_c

['green', 'blue', 'purple']

In [13]:
# while
colors = ["red", "green", "blue", "purple"]
i = 0
print(colors[i]) 
print(colors[i+1]) 
print(colors[i+2]) 
print(colors[i])

red
green
blue
red

In [15]:
# range
colors = ["red", "green", "blue", "purple"]
for i in range(len(colors)):
    print(i)

0
1
2
3

In [17]:
# loop thru twice
for i in range(len(colors) * 2):
    print(colors[i % len(colors)])

red
green
blue
purple
red
green
blue
purple

In [4]:
len(colors)

4

In [3]:
# example for not from 0
# don't have to len()-1 for range(). 
# range() goes to the last one -1, so when in reversed order, end with -1 instead of 0.
for i in range(1, len(colors)):
    print(i)

1
2
3

In [36]:
# don't mess the i, it will skip the current index the 2nd time
l = [1,2,3,1]
for i in range(len(l)):
    if l[i] == 3:
        i -= 1
#         print('try to change i = ' + str(i))
    print(i)

0
1
1
3

In [35]:
l = [1,2,3,1]
for i in range(len(l)):
    if l[i] == 3:
        i -= 1
        print('try to change i = ' + str(i))
    print(i)

0
1
try to change i = 1
1
3

In [74]:
colors = ["red", "green", "blue", "purple"]
for i in range(len(colors)):
    print(colors[i])

red
green
blue
purple

In [75]:
# for-in
colors = ["red", "green", "blue", "purple"]
for color in colors:
    print(color)

red
green
blue
purple

In [6]:
# enumerate
# Python’s built-in enumerate function allows us to loop over a list 
# and retrieve both the index and the value of each item in the list:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num, name in enumerate(presidents, start=1):
    print("President {}: {}".format(num, name))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

In [77]:
for num, name in enumerate(presidents, start=17):
    print("President {}: {}".format(num, name))

President 17: Washington
President 18: Adams
President 19: Jefferson
President 20: Madison
President 21: Monroe
President 22: Adams
President 23: Jackson

In [10]:
for num, name in enumerate(presidents, start=17):
    name = 'ge song'
    print("President {}: {}".format(num, name))

print(presidents)

President 17: ge song
President 18: ge song
President 19: ge song
President 20: ge song
President 21: ge song
President 22: ge song
President 23: ge song
['Washington', 'Adams', 'Jefferson', 'Madison', 'Monroe', 'Adams', 'Jackson']

In [92]:
l = ['a','b','c','d','e']
for i, n in enumerate(l):
    print("num at {}: {}".format(i, n))

num at 0: a
num at 1: b
num at 2: c
num at 3: d
num at 4: e

In [85]:
enumerate(l)

In [88]:
list(enumerate(l))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [90]:
list(reversed(list(enumerate(l))))

[(4, 'e'), (3, 'd'), (2, 'c'), (1, 'b'), (0, 'a')]

In [93]:
for i, n in reversed(list(enumerate(l))):
    print("num at {}: {}".format(i, n))

num at 4: e
num at 3: d
num at 2: c
num at 1: b
num at 0: a

## list comprehensions
* I think it always returns a list.<br>
-- of couse it does, i used []

In [3]:
nums = [1, 2, 3, 4]
squares = [n * n for n in nums]
print(type(squares))
print(squares)

<class 'list'>
[1, 4, 9, 16]

In [1]:
nums = ['1', '2', '3']
l_int = [int(n) for n in nums]
print(l_int)

[1, 2, 3]

In [4]:
squares = (n * n for n in nums)
print(type(squares))
print(squares)

<class 'generator'>
<generator object <genexpr> at 0x7ff5e37ece50>

In [40]:
strs = ['hello', 'and', 'goodbye']
shouting = [ s.upper() + '!!!' for s in strs ]
shouting

['HELLO!!!', 'AND!!!', 'GOODBYE!!!']

In [9]:
nums = [2, 8, 1, 6]
small = [ n for n in nums if n <= 2 ]
small

[2, 1]

In [10]:
s = sum([n for n in nums])
s

17

In [42]:
fruits = ['apple', 'cherry', 'banana', 'lemon']
afruits = [ s.upper() for s in fruits if 'a' in s ]
afruits

['APPLE', 'BANANA']

In [46]:
s = "A man, a plan, a canal: Panama"
[e for e in s if e.isalnum()]

['A',
 'm',
 'a',
 'n',
 'a',
 'p',
 'l',
 'a',
 'n',
 'a',
 'c',
 'a',
 'n',
 'a',
 'l',
 'P',
 'a',
 'n',
 'a',
 'm',
 'a']

In [48]:
[e if e.isalnum() else '*' for e in s ]

['A',
 '*',
 'm',
 'a',
 'n',
 '*',
 '*',
 'a',
 '*',
 'p',
 'l',
 'a',
 'n',
 '*',
 '*',
 'a',
 '*',
 'c',
 'a',
 'n',
 'a',
 'l',
 '*',
 '*',
 'P',
 'a',
 'n',
 'a',
 'm',
 'a']

In [43]:
# put for in the back for if-else
[ x if x%2 else x*100 for x in range(1, 10) ]

[1, 200, 3, 400, 5, 600, 7, 800, 9]

In [9]:
result_dict = {}
result_dict ['a'] = 'a'
result_dict ['b'] = '1.3.4'
result_dict ['c'] = '-1.3'
result_dict ['d'] = '1.3'
result_dict ['e'] = '2.200079E7'
result_dict ['f'] = ''
result_dict

{'a': 'a', 'b': '1.3.4', 'c': '-1.3', 'd': '1.3', 'e': '2.200079E7', 'f': ''}

In [2]:
# replace first . to handle ip address....
result_dict = {k: float(v.strip() or 0) if v.replace('.', '', 1).lstrip('-').isdigit() else v for k, v in result_dict.items()}
result_dict

{'a': 'a', 'b': '1.3.4', 'c': -1.3, 'd': 1.3, 'e': '2.200079E7'}

In [5]:
result_dict = {k: float(v.strip() or 0) if v.replace('.', '', 1).lstrip('-').isdigit() else v for k, v in result_dict.items()}
result_dict

{'a': 'a', 'b': '1.3.4', 'c': -1.3, 'd': 1.3, 'e': '2.200079E7'}

In [6]:
def convert_float(s):
    try:
        return float(s)
    except ValueError:
        return s

In [10]:
result_dict = {k: convert_float(v) for k, v in result_dict.items()}
result_dict

{'a': 'a', 'b': '1.3.4', 'c': -1.3, 'd': 1.3, 'e': 22000790.0, 'f': ''}

In [3]:
'a'.isdigit()

False

In [4]:
'1.4'.isdigit()

False

In [5]:
'1.5'.replace('.', '', 1).isdigit()

True

In [6]:
'1.5.5'.replace('.', '', 1).isdigit()

False

In [21]:
'-5'.replace('.', '', 1).isdigit()

False

In [22]:
'5'.replace('.', '', 1).isdigit()

True

# math

In [4]:
l1 = [5, 6, 7]
l2 = [2, 2, 2]
l1 - l2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [6]:
# must use numpy
array1 = np.array(l1)
array2 = np.array(l2)

array1 - array2

array([3, 4, 5])

In [3]:
l = [1]
l = l * 3
l

[1, 1, 1]

# print

In [2]:
colors = ['red', 'blue', 'green']
print(*colors)

red blue green

In [3]:
print(colors)

['red', 'blue', 'green']

In [8]:
print('color: %s' %(', '.join(colors)))

color: red, blue, green

## Reverse

In [5]:
l = ['3', '4']
# it doesn't return any val.
print(l.reverse())

None

In [6]:
l

['4', '3']

In [7]:
l[::-1]

['3', '4']

## Sort

In [1]:
# list.sort() modify in place. 
# It returns None
l = [1,2,8,4,5,6,7]
l.sort()
l

[1, 2, 4, 5, 6, 7, 8]

In [3]:
l.sort(reverse=True)
l

[7, 6, 5, 4, 3, 2, 1]

In [3]:
# this doesn't return anything
r = l.sort()
len(r)

TypeError: object of type 'NoneType' has no len()

In [1]:
# sorted() returns a new List
l = [1,2,8,4,5,6,7]
r = sorted(l)
# l remain the same
l

[1, 2, 8, 4, 5, 6, 7]

In [5]:
# it returns the sorted list
sorted(l)

[1, 2, 4, 5, 6, 7, 8]

In [30]:
# only r is sorted
r

[1, 2, 4, 5, 6, 7, 8]

In [2]:
# 2 ways to reverse the list
l.sort(reverse=True)
l

[8, 7, 6, 5, 4, 2, 1]

In [3]:
sorted(l, key=lambda x : -x)

[8, 7, 6, 5, 4, 2, 1]

In [1]:
l_points = ([3,3],[5,-1],[-2,4])
sorted(l_points, key=lambda p : p[0]**2 + p[1]**2)

[[3, 3], [-2, 4], [5, -1]]

## Swap

In [19]:
l = [1,2,3,4,5,6,7]
l

[1, 2, 3, 4, 5, 6, 7]

In [20]:
l[0], l[-1] = l[-1], l[0]
l

[7, 2, 3, 4, 5, 6, 1]

## To String

In [1]:
l = ['3', '4']
int(''.join(l))

43

In [3]:
# must be string inside of the array.
l = [3, 4]
int(''.join(l))

TypeError: sequence item 0: expected str instance, int found

# Tuple
* Like Java Array
* Elements and size can not be changed. such as an (x, y) co-ordinate.
* Tuples are like lists, except they are immutable and do not change size.
* Tuples are not strictly immutable since one of the contained elements could be mutable.

In [55]:
tuple = (1, 2, 'hi')
tuple

(1, 2, 'hi')

In [14]:
tuple[1]

2

In [18]:
len(tuple)

3

In [56]:
tuple[2]

'hi'

In [19]:
tuple[2] = 'bye'

TypeError: 'tuple' object does not support item assignment

In [24]:
(x, y, z) = (42, 13, "hike")
z

'hike'

In [2]:
r,c = (1, 4)
print(r)
print(c)

1
4

In [1]:
t = (1,2,3)
t

(1, 2, 3)

In [2]:
max(t)

3

## create with 1 val

In [9]:
# just create an int.
tuple = (1)

In [21]:
type(tuple)

int

In [22]:
len(tuple)

TypeError: object of type 'int' has no len()

In [1]:
# To create a size-1 tuple, the lone element must be followed by a comma.
tuple = (1,)
tuple

(1,)

In [2]:
len(tuple)

1

In [3]:
tuple[0]

1

In [4]:
tuple[1]

IndexError: tuple index out of range

In [17]:
import random

_l = [0] * 200


percentage = 5
k = len(_l) * percentage // 100
indicies = random.sample(list(range(len(_l))), k)
new_list1 = [_l[i] for i in indicies]
new_list2 = [_l[i] for i in indicies]

In [18]:
new_list1

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [19]:
new_list2

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]