In [1]:
# each row
l2 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
     ]

In [2]:
# loop thru each row
for r in l2:
    print(r)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]
[13, 14, 15, 16]

In [3]:
# loop thru all
for r in range(len(l2)):
    for c in range(len(l2[r])):
        print(l2[r][c])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [34]:
# only way to add to 2d list is append()
l2 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
     ]
l2 += [17,18,19,20]
l2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16], 17, 18, 19, 20]

In [35]:
l2 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
     ]
l2.extend([17,18,19,20])
l2

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16], 17, 18, 19, 20]

In [36]:
l2 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
     ]
l2.append([17,18,19,20])
l2

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
 [13, 14, 15, 16],
 [17, 18, 19, 20]]

In [48]:
import numpy as np
l2 = np.array(l2)
l3 = l2[0:2, 0:2]
l3

array([[1, 2],
       [5, 6]])

In [49]:
# to python list:
l3.tolist()

[[1, 2], [5, 6]]

In [39]:
# loop thru each col
z = zip(*l2)

In [40]:
for n in z:
    # list() turns a tuple to List
    print(list(n))

[1, 5, 9, 13]
[2, 6, 10, 14]
[3, 7, 11, 15]
[4, 8, 12, 16]

In [6]:
# create a 2d array
# NONONONO 
# don't do this, you can only change 1 col at once.
rows, cols = (3, 5)
arr = [[0]*cols]*rows
print(arr)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [7]:
arr[1][1] = 1
arr

[[0, 1, 0, 0, 0], [0, 1, 0, 0, 0], [0, 1, 0, 0, 0]]

In [9]:
dp = [[0]*5 for _ in range(3)]
dp[1][1] = 1
dp

[[0, 0, 0, 0, 0], [0, 1, 0, 0, 0], [0, 0, 0, 0, 0]]

In [6]:
print(l2[0])
sum(l2[0])

[1, 2, 3, 4]

10

In [10]:
# each col
c = [r[0] for r in l2]
print(c)
sum([r[0] for r in l2])

[1, 5, 9, 13]

28

In [15]:
# principal diagonal
n = 4
print([l2[i][i] for i in range(n)])
sum([l2[i][i] for i in range(n)])

[1, 6, 11, 16]

34

In [17]:
# secondary diagonal
n = 4
print([l2[i][n-i-1] for i in range(n)])
sum([l2[i][n-i-1] for i in range(n)])

[4, 7, 10, 13]

34

In [13]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
matrix[::-1]

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [11]:
matrix.pop(0)

[1, 2, 3]

In [12]:
matrix.pop()

[7, 8, 9]

In [6]:
matrix[::] = zip(*matrix[::-1])
matrix

# Contains

In [2]:
l1 = [[1,2,3,4],
      [5,6,7,8],
      [9,10,11,12],
      [13,14,15,16]
     ]

In [3]:
l1

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [6]:
[5, 6, 7, 8] in l1

True

# Reverse

In [6]:
matrix = [
     [1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]
]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
# reverse by row
matrix[::-1]

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [7]:
# reverse by col
matrix_2 = []
for i in range(len(matrix)):    
    matrix_2.append(matrix[i][::-1])
matrix_2

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

In [8]:
matrix_2 = [m[::-1] for m in matrix]
matrix_2

[[3, 2, 1], [6, 5, 4], [9, 8, 7]]

# Sort

In [8]:
m = [[1,3],[10,40],[10,20],[8,10],[15,18]]

In [11]:
m1 = sorted(m, key=lambda i: i[0])
m1

[[1, 3], [8, 10], [10, 40], [10, 20], [15, 18]]

In [10]:
# sort by multiple columns
m2 = sorted(m, key=lambda i: (i[0], i[1]))
m2

[[1, 3], [8, 10], [10, 20], [10, 40], [15, 18]]

In [12]:
# another way to sort by [0] then [1]
from operator import itemgetter, attrgetter
#  sort matrix
intervals = [
     [1, 3],
     [2, 6],
     [8, 12],
     [8, 9],
     [15, 18]
]
intervals
sort = sorted(intervals, key=itemgetter(0, 1))
sort

[[1, 3], [2, 6], [8, 9], [8, 12], [15, 18]]