In [1]:
s = 'hi'

In [2]:
s

'hi'

In [3]:
if type('test_string') == str:
    print('string')

string

In [4]:
if type(1) != str:
    print('string')
else:
    print('number')

string

In [5]:
dict_processed = {}
dict_processed['a'] = 'alpha'
dict_processed['g'] = 1
dict_processed['o'] = ''
for iv in [k for k, v in dict_processed.items() if type(v) != int and not v.strip()]:
    print('----int val: ' + iv)

----int val: o

In [6]:
s.string_val

AttributeError: 'str' object has no attribute 'string_val'

In [7]:
s[1]

'i'

In [8]:
print(s[1])

i

In [7]:
len(s)

2

In [3]:
s = s + ' there'
s

'hi there there'

In [14]:
pi = 3.14
type(pi)

float

In [15]:
s + pi

TypeError: can only concatenate str (not "float") to str

In [18]:
s + str(pi)

'hi3.14'

In [1]:
s = 'abc'
s * 3

'abcabcabc'

In [29]:
s2 = 'Hi\nHello'
# there is diff between jupter notebook and python print()
s2

'Hi\nHello'

In [30]:
print(s2)

Hi
Hello

In [31]:
raw = r'Hi\nHello'
raw

'Hi\\nHello'

In [32]:
print(raw)

Hi\nHello

In [13]:
id = '123'
multi = f'''It was the best of times.
  It was the worst of times..{id}'''
multi  
# with '' because juper adds '' to all strings.

'It was the best of times.\n  It was the worst of times..123'

In [14]:
print(multi)

It was the best of times.
  It was the worst of times..123

In [8]:
# '\' puts everything in 1 line
s= '\
abc'
print(s)

abc

In [5]:
s= '\
abc\
def'
print(s)

abcdef

In [7]:
s= '''
abc
def'''
print(s)

abc
def

In [38]:
s.lower()

'hi'

In [39]:
s.upper()

'HI'

In [41]:
' ok  '.strip().upper()

'OK'

In [45]:
s.startswith('h')

True

In [46]:
s.replace('i','iuiu')

'hiuiu'

In [1]:
a = 'abcd'
b = a
a = a[1:]
b

'abcd'

In [2]:
a

'bcd'

In [7]:
if not '':
    print('solid')
else:
    print('empty')

solid

In [6]:
e = None
if e:
    print('solid')
else:
    print('empty')

empty

In [1]:
S = 'abcde'
d = {c: i for i, c in enumerate(S)}
d

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [5]:
S = 'ababcbacadefegdehijhklij'
d = {c: i for i, c in enumerate(S)}
d

{'a': 8,
 'b': 5,
 'c': 7,
 'd': 14,
 'e': 15,
 'f': 11,
 'g': 13,
 'h': 19,
 'i': 22,
 'j': 23,
 'k': 20,
 'l': 21}

In [7]:
for i, c in enumerate(S):
    print('i = {}, c = {}'.format(i, c))

i = 0, c = a
i = 1, c = b
i = 2, c = a
i = 3, c = b
i = 4, c = c
i = 5, c = b
i = 6, c = a
i = 7, c = c
i = 8, c = a
i = 9, c = d
i = 10, c = e
i = 11, c = f
i = 12, c = e
i = 13, c = g
i = 14, c = d
i = 15, c = e
i = 16, c = h
i = 17, c = i
i = 18, c = j
i = 19, c = h
i = 20, c = k
i = 21, c = l
i = 22, c = i
i = 23, c = j

In [11]:
s = 'abca'
for c in s:
    print('c = {}, index = {}'.format(c, s.index(c)))

c = a, index = 0
c = b, index = 1
c = c, index = 2
c = a, index = 0

# build string

In [3]:
#1. format()
'my id is {}'.format(1)

'my id is 1'

In [19]:
#2. using %
'my id is %d and my name is %s' %(1, 'gs')

'my id is 1 and my name is gs'

In [10]:
# $d integer
'my id is %d and my name is %s' %(1.123456, 'gs')

'my id is 1 and my name is gs'

In [11]:
# $f float
'my id is %f and my name is %s' %(1.123456, 'gs')

'my id is 1.123456 and my name is gs'

In [12]:
f'my id is {1.123456}'

'my id is 1.123456'

In [20]:
'my id is %d and my name is %d' %(1, 'gs')

TypeError: %d format: a number is required, not str

In [16]:
'my id is {}' %(1)

TypeError: not all arguments converted during string formatting

In [70]:
text = "%d little pigs come out, or I'll %s, and I'll %s, and I'll blow your %s down." % (3, 'huff', 'puff', 'house')
print(text)

3 little pigs come out, or I'll huff, and I'll puff, and I'll blow your house down.

In [71]:
text = (
    "%d little pigs come out, or I'll %s, and I'll %s, and I'll blow your %s down."
    % (3, 'huff', 'puff', 'house'))
print(text)

3 little pigs come out, or I'll huff, and I'll puff, and I'll blow your house down.

In [3]:
# template
# {0:.2f}: format the first argument as a floating-point number with 2 decimal places.
# {1:s}: format 2nd argument as string
# {2:d}: format 3rd argument as exact integer
template = '{0:.2f} {1:s} are worth US${2:d}'
template.format(4.5560, 'Argentina Pesos', 1)

'4.56 Argentina Pesos are worth US$1'

In [72]:
text = (
    "%d little pigs come out, "
    "or I'll %s, and I'll %s, "
    "and I'll blow your %s down."
    % (3, 'huff', 'puff', 'house'))
text

"3 little pigs come out, or I'll huff, and I'll puff, and I'll blow your house down."

# comparison

In [4]:
# https://www.geeksforgeeks.org/string-comparison-in-python/
# https://www.thecoderpedia.com/blog/python-string-comparison/
# In case of “Geek” and “geek” as the unicode of G is \u0047 and of g is \u0067

# Both “==” and “is” are used for object comparison in Python. 
# The operator “==” compares values of two objects, 
# while “is” checks if two objects are same (In other words two references to same object).
print("Geek" == "Geek")
print("Geek" != "Geek")

# they are same in this case, because of strings.
a, b = "Geek", "Geek"
print(a is b)

print("Geek" < "geek")
print("Geek" > "geek")

True
False
True
True
False

In [61]:
# ord() function accepts a string of unit length as an argument and returns the 
# Unicode equivalence of the passed argument. String length must be 1.
print(ord("G"))
print(ord("g"))
# can't do it after python3
print(ord("geek"))

71
103

TypeError: ord() expected a character, but string of length 4 found

In [5]:
ord(1)

TypeError: ord() expected string of length 1, but int found

In [6]:
ord('1')

49

In [16]:
# is
# is is identity testing, == is equality testing.
str1 = "Geek"
str2 = "Geek"
str3 = str1
print(str1 is str1)
print(str1 is str2)
print(str1 is str3)
print(str1 is "Geek")

True
True
True
True

<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-16-8bf3f96d4f43>:9: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(str1 is "Geek")

In [ ]:
# id() is used to check is
# The id() function returns a unique id for the specified object.

In [59]:
print("ID of str1 =", id(str1))
print("ID of str1 =", hex(id(str1)))
print("ID of str2 =", hex(id(str2)))
print("ID of str3 =", hex(id(str3)))

ID of str1 = 140371543597872
ID of str1 = 0x7faacbfe2330
ID of str2 = 0x7faacbfe2330
ID of str3 = 0x7faacbfe2330

In [62]:
list_1 = ['a', 'b', 'c']
list_2 = list_1

list_3 = list(list_1)

print(list_1 == list_2)
print(list_1 == list_3)
print(list_1 is list_2)
print(list_1 is list_3)
print(id(list_1))
print(id(list_2))
print(id(list_3))

True
True
True
False
140371885289952
140371885289952
140371543176848

In [26]:
'a' - 'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
'a' < 'b'

True

# equal

In [2]:
string1 = 'Hello'
string2 = 'hello'

if string1.casefold() == string2.casefold():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are NOT the same (case insensitive)")
    
if string1 == string2:
    print("The strings are the same (case insensitive)")
else:
    print("The strings are NOT the same (case insensitive)")

The strings are the same (case insensitive)
The strings are NOT the same (case insensitive)

# loop thru

In [73]:
# python doesn't have char
for ch in s:
    print(ch)

h
i

In [35]:
s = '1:5:a:f:0:0:0:d:0'
for n in [e for e in s if e.isalnum()]:
    print(n)

1
5
a
f
0
0
0
d
0

In [38]:
s1 = ''.join(e for e in s if e.isalnum()).lower()
s1

'15af000d0'

# Max & Min

In [2]:
max('abcd', 'dc', '123456', key=len)

'123456'

In [4]:
max('abcd', 'dc', '123456', key=lambda s: len(s))

'123456'

In [3]:
min('abcd', 'dc', '123456', key=len)

'dc'

In [5]:
min('abcd', 'dc', '123456', key=lambda s: len(s))

'dc'

# multiply

In [1]:
s = '1'
s = s * 3
s

'111'

# R

## RegEx

In [1]:
import re

string_pattern = r"\d{3}"
# compile string pattern to re.Pattern object
regex_pattern = re.compile(string_pattern)
str1 = "Emma's luck numbers are 251 761 231 451 1234"
result = regex_pattern.findall(str1)
print(result)
regex_pattern.sub('', str1.lower())

['251', '761', '231', '451', '123']

"emma's luck numbers are     4"

In [2]:
def clean_message_test(message):
    rx_test = re.compile(r'[^a-z0-9()[\]{}|\\/\'";:\-_+=<>,.?!@#$%&^*~`]+')
    return rx_test.sub(' ', message.lower())

print(clean_message_test('abc123:;?!â€Œ â€Œ â€Œ is s pecial'.lower())[:1000])

abc123:;?! is s pecial

In [23]:
(bool(re.search('<\S+@\S+>', 'email me at <chris_veysseyre@hotmail.com>')), 
bool(re.search('<\S+@\S+>', 'email me at chris_veysseyre@hotmail.com')),
bool(re.search('<\S+@\S+>', 'chris_veysseyre@hotmail.com')),
bool(re.search('<\S+@\S+>', 'my email is <chris_veysseyre@hotmail.com>')),
re.search('<\S+@\S+>', 'my email is <chris_veysseyre@hotmail.com>'),
re.search('<\S+@\S+>', '<my email is chris_veysseyre@hotmail.com email me>'),
re.search('\S+@\S+', 'my email is chris_veysseyre@hotmail.com').group(0))

(True,
 False,
 False,
 True,
 <re.Match object; span=(12, 41), match='<chris_veysseyre@hotmail.com>'>,
 None,
 'chris_veysseyre@hotmail.com')

In [42]:
# just email
(re.search(r'[\w.+-]+@[\w-]+\.[\w.-]+', '<my email is chris_veysseyre@hotmail.com email me>'),
re.search(r'[\w.+-]+@[\w-]+\.[\w.-]+', 'my email is <chris_veysseyre@hotmail.com> email me'))

(<re.Match object; span=(13, 40), match='chris_veysseyre@hotmail.com'>,
 <re.Match object; span=(13, 40), match='chris_veysseyre@hotmail.com'>)

In [41]:
(re.search(r'<[\w.+-]+@[\w-]+\.[\w.-]+>', '<my email is <chris_veysseyre@hotmail.com> email me>'),
re.search(r'<[\w.+-]+@[\w-]+\.[\w.-]+>', 'my email is <chris_veysseyre@hotmail.com> email me'),
re.search(r'<[\w.+-]+@[\w-]+\.[\w.-]+>', '<my email is chris_veysseyre@hotmail.com email me>'))

(<re.Match object; span=(13, 42), match='<chris_veysseyre@hotmail.com>'>,
 <re.Match object; span=(12, 41), match='<chris_veysseyre@hotmail.com>'>,
 None)

In [22]:
s = 'my email is chris_veysseyre@hotmail.com'
_email = re.search('\S+@\S+', s).group(0)
print(_email)
s.replace(_email, '<' + _email + '>' )

chris_veysseyre@hotmail.com

'my email is <chris_veysseyre@hotmail.com>'

In [36]:
import re

_str = "chrome mobile on ios 11.2. test"
SplitVersionRe = re.compile("([a-zA-Z0-9 ]+)[ ]([0-9.]*)([a-zA-Z ]*)|([a-zA-Z ]*)")
res = SplitVersionRe.match(_str).groups()
print(res)

# SplitVersionRe = re.compile("([a-zA-Z0-9 ]+)[ ]([1-9]\d*(\.\d+)?)([a-zA-Z. ]*)|([a-zA-Z ]*)")
# res = SplitVersionRe.match(_str).groups()
# print(res)

print(res[1])
print(res[3])
print(res[0]+res[2])

# def SplitVersion1():
#     def SplitVersion_(string):
#         print(string)
#         # if pd.isnull(string):
#         #     return pd.NA,pd.NA
#         # try:
#         #     res = SplitVersionRe.match(string).groups()
#         #     return pd.NA if res[3] is not None else float(res[1])
#         # except:
#         #     print(string)
#         #     raise
#     # return udf(SplitVersion_, DoubleType())
#     # return null

# # .withColumn("ua_platform1", SplitVersion1()("ua_platform")) 


# SplitVersion1()("1.2.")

('chrome mobile on ios', '11.2.', ' test', None)
11.2.
None
chrome mobile on ios test

In [41]:
float("11.2")

11.2

In [44]:
def is_numeric(n: str) -> bool:
    try:
        # handle scientific notation.
        # replace - by 2, because we might have negative scientific notation.
        if str(n).lower().replace('.', '', 1).replace('-', '', 2).replace('e', '', 1).isdecimal():
            float(n)
            return True
        else:
            return False
    except ValueError:
        return False
    
print(is_numeric("12.5"))
print(is_numeric("ok"))
print(is_numeric("12.4.5"))
print("12.5".isnumeric())
print("ok".isnumeric())
print("12.4.5".isnumeric())

True
False
False
False
False
False

In [7]:
import re
SplitVersionRe = re.compile("([a-zA-Z0-9 ]+)[ ]([0-9.]*)([a-zA-Z ]*)|([a-zA-Z ]*)")

string = Null #'chrome 7.8'
res = SplitVersionRe.match(string).groups()

NameError: name 'Null' is not defined

In [8]:
res

('chrome', '7.8', '', None)

In [3]:
res[3] if res[3] is not None else res[0]+res[2]

'chrome'

# replace
https://stackoverflow.com/questions/35583983/what-is-the-big-o-notation-for-the-str-replace-function-in-python/35585528 <br>
big O notation of O(m*n), because it has to go thru all chars in original s and replace by new sub strings.

In [12]:
s = 'this is a string.'
s.replace('is', 'ooo')

'thooo ooo a string.'

In [45]:
s = 'this ir a string.'
s.replace('is', 'ooo')

'thooo ir a string.'

In [40]:
my_string = '12.3..'
my_string = my_string.rstrip('.')
my_string

'....12.3'

# slice

In [4]:
s3 = 'abcdefg'
s3[1:4]

'bcd'

In [47]:
s3[::2]

'aceg'

In [8]:
s3[1:]

'bcdefg'

In [9]:
s3[:]

'abcdefg'

In [10]:
s3[1:100]

'bcdefg'

In [6]:
s3[-1]

'g'

In [7]:
s3[:-1]

'abcdef'

In [ ]:
s3[-3:]

'efg'

In [13]:
# go backwords
s3[::-1]

'gfedcba'

In [15]:
# go backwords, every 2 chars
s3[::-2]

'geca'

# sort

In [22]:
# return a list
sorted('qwert')

['e', 'q', 'r', 't', 'w']

In [24]:
''.join(sorted('qwert'))

'eqrtw'

In [1]:
'qfcd'.sort()

AttributeError: 'str' object has no attribute 'sort'

# split & join

In [16]:
# default by ' '
'i love tesla'.split()

['i', 'love', 'tesla']

In [25]:
# only split once, can't use default split.
'i love tesla'.split(' ', 1)

['i', 'love tesla']

In [17]:
s2 = '8:0:0:0:a:4'

In [18]:
l1 = s2.split(':')
l1

['8', '0', '0', '0', 'a', '4']

In [19]:
':'.join(l1)

'8:0:0:0:a:4'

In [21]:
# convert list of ints to string.
_list_n = [1, 3, 4]
''.join(map(str, _list_n))

'134'

# type: 
https://stackoverflow.com/questions/44891070/whats-the-difference-between-str-isdigit-isnumeric-and-isdecimal-in-python
## isdecimal() ⊆ isdigit() ⊆ isnumeric()

In [1]:
print('9'.isnumeric())

True

In [2]:
print('nine'.isnumeric())

False

In [3]:
print('9.6'.isnumeric())

False

In [22]:
print('96'.isdigit())

True

In [4]:
print('9.6'.isdigit())

False

In [28]:
# this doesn't work. so we have to use float() to check if a str a valid float.
'9.5'.isdecimal()

False

In [29]:
'95'.isdecimal()

True

In [5]:
print(isinstance('9', int))

False

In [6]:
print(isinstance(9, int))

True

In [8]:
str('r').replace('.','').isnumeric()

False

In [24]:
def _is_numeric(n: str) -> bool:
    try:
        if str(n).replace('.', '', 1).lstrip("-").isdecimal():
            float(n)
            return True
        else:
            return False
    except ValueError:
        return False

print('0 = ' + str(_is_numeric('0')))    
print(_is_numeric('9'))
print(_is_numeric('9.6'))
print(_is_numeric(9))
print(_is_numeric(9.6))
print(_is_numeric('r'))
print(_is_numeric('37031899800019312E377'))
print('9.6.6 = ' + str(_is_numeric('9.6.6')))
print('-9.6 = ' + str(_is_numeric('-9.6')))

0 = True
True
True
True
True
False
False
9.6.6 = False
-9.6 = True

In [2]:
'12q3'.isalnum()

True

In [1]:
'12e3'.isalnum()

True

In [28]:
'12 q3'.isalnum()

False

In [23]:
'12.q3'.isalnum()

False

In [21]:
# split by line
data = """a,b,c
d,e,f
g,h,i
j,k,l"""
print(data.splitlines()[0])
print(data.splitlines()[1:])

a,b,c
['d,e,f', 'g,h,i', 'j,k,l']

In [6]:
data.splitlines()[1:]

['d,e,f', 'g,h,i', 'j,k,l']

# convert to numeric

In [1]:
int('123')

123

In [3]:
n = int('9400108205499941468492')
n

9400108205499941468492

In [4]:
type(n)

int

In [5]:
f = float('9400108205499941468492')
f

9.400108205499941e+21

In [7]:
import sys
sys.maxsize

9223372036854775807

## Char Count

In [2]:
import collections
s = 'abcddeee'
collections.Counter(s)

Counter({'a': 1, 'b': 1, 'c': 1, 'd': 2, 'e': 3})

In [9]:
s = 'abcddeee'
[map(s.index, s)]